* {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
a,
p {
    color: white;
    text-decoration: none;
}

body {
    background-color: #11071f;
}

.container {
    margin: 15px;
}

.bioSection {
    margin-top: 20px;
    margin-bottom: 40px;
}

.bioHeader {
    margin-bottom: 20px;
}

.bioHeader p {
    font-size: 11pt;
}

.stackSection {
    display: flex;
    flex-direction: column;
    gap: 20px;
    background: rgb(118, 60, 172);
    background: radial-gradient(
        circle,
        rgb(55, 21, 87) 0%,
        rgba(17, 7, 31, 1) 52%
    );
}

.stackCard {
    background-image: linear-gradient(
        to bottom right,
        #130428,
        #251043,
        #310c64,
        #261045,
        #190634
    );
    border-radius: 10px;
    padding: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    border-top: 2px solid #5100c4;
}

.profileSection {
    display: flex;
    gap: 30px;
    align-items: center;
}

.profileName h2 {
    letter-spacing: 1.3px;
}

.contactSection {
    margin-top: 40px;
    margin-bottom: 40px;
}

.contactIcons {
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    font-size: 35px;
}
