
$primary-color: #212121;
$text-color: #fff;
*{
  	padding: 0;
 	margin: 0;
	color: $text-color;
	text-decoration: none;
}

body{
	background-color: $primary-color;
}

.navbar{
	background-color: $primary-color;
	display: flex;
	justify-content: space-around;
	padding: 15px;
}