// Colors
$black: #2D2D2D;
$gray: #E5E5E5;
$white: #FFFFFF;

* {
    margin: 0;
    padding: 0;
}

a {
    color: $black;
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
}

.navLinks {
    display: flex;
    gap: 10px;
}

.aboutSection {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.aboutSection div {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.profileImage {
    border-radius: 100px;
}

.stackSection {
    padding-top: 15px;
    text-align: center;
}

.stackSection h3 {
    padding-top: 10px;
}

.stackSection p {
    padding: 8px 20px 20px 20px;
}

.repoSection {
    padding: 15px;
}

.repoCard {
    background-color: $gray;
    margin: 20px 0px;
    height: 150px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
    border-radius: 5px;
}

.repoCard a {
    background-color: $black;
    color: $white;
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}

.contactSection {
    padding: 15px;
}

.contactLinks {
    font-size: xx-large;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.contactLinks a {
    margin: 20px;
}